{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block pageTitle %}
    404
{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1>Error - Code 404</h1>
    <p>
        404 - The page you were searching for was not found
    </p>

{% endblock %}